/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
	color: #555;
}

img {

	width: 100%;

}

header {
	top:0px;
	left:0px;
	position:fixed;
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	z-index: 5000;
	background:#fff;
	width:100%;
	height:50px;
	border-bottom: 3px solid #555;
}

nav {
	float:right;
	margin:5px;
}

#logo{

	margin: 15px;
	float: left;
	width: 100px;
	height: 40px;
	display: block;
	font-size:1.25em;
	color:#2262AD;
}

a {
	color: #555;
	text-decoration: none;
	font-weight: bold;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	float: left;
	padding: 10px 20px;
}

section {
	margin: 53px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 10px 50px;
}

h1 {

	font-size: 2em;
	color: #2262AD;
	line-height: 1.15em;
	margin: 20px 0 ;

}

h2 {

	font-size: 1.25em;
	color: #2262AD;
	line-height: 1.15em;
	margin: 20px 0 ;

}

p {

	line-height: 1.45em;
	/*margin-bottom: 20px;*/
}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../uploads/menu-icon.png) center;

}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

ul li a {
	padding:15px 5px;
}


li ul {
	display:none;
	position:absolute;
	top:100%;
	background:#fff;
	padding:0;
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	border:3px solid;
}

li > ul {
	top:50px;
	left:auto;
	/*margin-top:12.5px;*/
}

li a:hover {
	color:#2262AD;
}

li:hover ul {
	display:block;
}

li ul li {
	float: none; 
	position: relative;
	display:block;
	margin-left:-20px;
	margin-right:-20px;
}

		nav ul ul li a {
			padding: 10px 20px;
			color: #555;

		}	
			nav ul ul li a:hover {
				color: #2262AD;
			}

.profile-pic {
	width:200px;
}

.footer-bar {
	/*bottom:0px;
	left:0px;
	position:fixed;*/
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	z-index: 5000;
	background:#fff;
	width:100%;
	height:25px;
	border-top: 2px solid #555;
}

.footer-text {
	text-align:center;

}

.post {
	background:#fff;
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	border:2px solid #555;
	padding:10px 10px;
	margin-left:2.5em;
	margin-right:2.5em;
	padding:5px;
}

.post a:hover {
		color:#2262AD;
}

.post-avatar {
	width:100px;
	float:left;
	clear:left;
	padding:5px;
}

br.clearme { 
  clear: both; 
  padding: 0; 
  margin: 0; 
  visibility: hidden; 
  display: block
}



/*
nav ul li:hover > ul {
	display: block;
}

nav ul li a {
	display: block;
	padding: 0px;
	color: #555; 
	text-decoration: none;
	font-family:sans-serif;
}

nav ul ul {
	background: #f9f9f9; 
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
}

	nav ul ul li {
		float: none; 
		position: relative;
	}
		nav ul ul li a {
			padding: 10px 40px;
			color: #555;
		}	
			nav ul ul li a:hover {
				background: #fff;
				color: #2262AD;
			}
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}
*/