/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/

html, body {
	max-width:650px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}

body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	/*background: #f9f9f9;*/
	color: #555;
	background:#CCCCCC;

}

img {

	width: 100%;

}

header {
	top:0px;
	left:0px;
	right:0px;
	position:fixed;
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	z-index: 5000;
	background:#fff;
	width:100%;
	height:50px;
	border-bottom: 3px solid #555;
}

nav {
	float:right;
	margin:5px;
}

#logo{

	margin: 15px;
	float: left;
	width: 100px;
	height: 40px;
	display: block;
	font-size:1.25em;
	color:#2262AD;
}

a {
	color: #2262AD;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color:red;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	float: left;
	padding: 10px 20px;
}

section {
	margin: 50px auto -50px;
	max-width: 550px;
	position: relative;
	padding: 10px 50px;
	border-right:1.5px solid;
	border-left:1.5px solid;
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	background-color:#FFFFFF;
	min-height:100%;
}

section h2 {
	
	text-align:center;
}

h1 {

	font-size: 2em;
	color: #2262AD;
	line-height: 1.15em;
	margin: 20px 0 ;

}

h2 {

	font-size: 1.25em;
	color: #2262AD;
	line-height: 1.15em;
	margin: 20px 0 ;

}

p {

	line-height: 1.45em;
	/*margin-bottom: 20px;*/
}

#menu-icon {

	display: none;
	width: 60px;
	height: 50px;
	color:#2262AD;
	margin:10px;
}

a:hover#menu-icon {

	color:red;

}

#menu-icon span {
	width:40px;
	height:40px;
	cursor:pointer;
	outline: medium none;
}

ul li a {
	padding:15px 5px;
}


li ul {
	display:none;
	position:absolute;
	top:100%;
	background:#fff;
	padding:0;
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	border:3px solid;
}

li > ul {
	top:50px;
	left:auto;
	/*margin-top:12.5px;*/
}

li a:hover {
	color:red;
}

li:hover ul {
	display:block;
}

li ul li {
	float: none; 
	position: relative;
	display:block;
	margin-left:-20px;
	margin-right:-20px;
}

		nav ul ul li a {
			padding: 10px 20px;
			color: #555;

		}	
			nav ul ul li a:hover {
				color: red;
			}

.profile-pic {
	width:200px;
	/*box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	border:2px solid #555;*/
	z-index:5000;
	float:left;
	clear:left;
	margin:0 1em;
}

.profile-info {
	/*box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	border:2px solid #555;*/
	/*z-index:5000;*/
	float:left;
}

.footer-bar {
	/*bottom:0px;
	left:0px;
	position:fixed;*/
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	z-index: 5000;
	background:#fff;
	width:100%;
	height:25px;
	border-top: 2px solid #555;
	bottom:0px;
	position:relative;
}

.footer-text {
	text-align:center;

}
/*
.profile {
	z-index:5000;
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	border:2px solid #555;
}
*/
.profile a {
	color: #2262AD;
}

.profile a:hover {
	color:red;
}



.post {
	background:#fff;
	box-shadow:0px 1px 5px rgba(0,0,0,0.25);
	border:2px solid #555;
	padding:10px 10px;
	/*margin-left:2.5em;
	margin-right:2.5em;
	padding:5px;*/
	z-index:5000;
}

.post a {
	color: #2262AD;
}

.post a:hover {
		color:red;
}

.post-avatar {
	width:100px;
	float:left;
	clear:left;
	padding:5px;
}

.post h4 {
	line-height:2em;
}

.post .content {

}

.time-likes {
	line-height:2em;
}

br.clearme { 
  clear: both; 
  padding: 0; 
  margin: 0; 
  visibility: hidden; 
  display: block
}

header a:hover {
	color:red;
}

.content-list {
	list-style:bullets;
}

.content-list > li {
	float:none;
	display:block;
}

.error {
	color:red;
}


@media only screen and (max-width : 550px) {

	header {

		/*position: absolute;*/

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		background: #fff;
		border: 3px solid #555;
		right: 0px;
		top: 50px;
		width: 50%;
		box-shadow:0px 1px 5px rgba(0,0,0,0.25);
		z-index:5000;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0px;

	}

	nav:hover ul {

		display: block;

	}

	nav:hover ul ul {
		display:none;
	}


}